[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
django-heroku = "*"
requests = "*"
flask = "*"
line-bot-sdk = "*"
imgurpython = "*"
selenium = "==3.8.0"
pillow = "*"

[requires]
python_version = "3.6"
